[submodule "picopad-sdk/picopad-base/src/vendor/pico-onewire"]
	path = picopad-sdk/picopad-base/src/vendor/pico-onewire
	url = https://github.com/adamboardman/pico-onewire.git
[submodule "picopad-sdk/picopad-base/src/vendor/pico-distance-sensor"]
	path = picopad-sdk/picopad-base/src/vendor/pico-distance-sensor
	url = https://github.com/dangarbri/pico-distance-sensor
[submodule "picopad-sdk/picopad-base/src/vendor/hagl_hal"]
	path = picopad-sdk/picopad-base/src/vendor/hagl_hal
	url = git@github.com:tuupola/hagl_pico_mipi.git
[submodule "picopad-sdk/picopad-base/src/vendor/hagl"]
	path = picopad-sdk/picopad-base/src/vendor/hagl
	url = git@github.com:tuupola/hagl.git
